:root {
  --Desaturated-Dark-Cyan: hsl(180, 29%, 50%);
  --Light-Grayish-Cyan-background: hsl(180, 52%, 96%);
  --Light-Grayish-Cyan-filter: hsl(180, 31%, 95%);
  --Dark-Grayish-Cyan: hsl(180, 8%, 52%);
  --Very-Dark-Grayish-Cyan: hsl(180, 14%, 20%);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--Light-Grayish-Cyan-background);
  font-family: "Spartan", sans-serif;
  margin: 0;
}

h2 {
  margin: 0;
}

span {
  margin: 0;
  padding: 0;
}

.header {
  background-color: var(--Desaturated-Dark-Cyan);
  background-image: url("../assets/images/bg-header-mobile.svg");
  background-repeat: no-repeat;
  height: 156px;
  margin-bottom: 50px;
}
@media screen and (min-width: 1440px) {
  .header {
    background-image: url("../assets/images/bg-header-desktop.svg");
    background-position: center;
    background-size: cover;
  }
}

.card {
  position: relative;
  background-color: white;
  margin: 0px 20px 40px;
  border-radius: 10px;
  box-shadow: -2px 10px 20px -15px var(--Desaturated-Dark-Cyan);
}
@media screen and (min-width: 1440px) {
  .card {
    display: flex;
    justify-content: space-between;
    padding: 35px 40px 35px 150px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 1439px) {
  .card {
    padding: 35px 20px 18px;
  }
}
@media screen and (min-width: 1440px) {
  .card-header-body {
    align-self: center;
  }
}
.card__img {
  position: absolute;
  transform: translateY(-50%);
}
@media screen and (max-width: 1439px) {
  .card__img {
    width: 50px;
    top: 0%;
  }
}
@media screen and (min-width: 1440px) {
  .card__img {
    top: 50%;
    left: 75px;
    transform: translate(-50%, -50%);
  }
}
.card__header {
  display: flex;
  align-items: center;
}
.card__title {
  font-size: 0.8rem;
  color: var(--Desaturated-Dark-Cyan);
  margin-right: 5px;
}
@media screen and (min-width: 1440px) {
  .card__title {
    font-size: 0.9rem;
  }
}
.card__label {
  color: white;
  text-align: center;
  background-color: black;
  font-size: 0.7rem;
  margin-left: 8px;
  padding: 0px 8px;
  padding-top: 7px;
  padding-bottom: 4px;
  border-radius: 20px;
  font-weight: 700;
  cursor: pointer;
}
.card__label:first-of-type {
  background-color: var(--Desaturated-Dark-Cyan);
}
.card__position {
  font-weight: 700;
  font-size: 0.94rem;
}
@media screen and (min-width: 1440px) {
  .card__position {
    font-size: 1.2rem;
    margin-top: 12px;
    margin-bottom: 12px;
  }
}
.card__info {
  display: flex;
}
@media screen and (max-width: 1439px) {
  .card__info {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--Dark-Grayish-Cyan);
  }
}
.card__job-info {
  position: relative;
  display: inline-flex;
  color: var(--Dark-Grayish-Cyan);
  font-size: 0.85rem;
  text-align: left;
  font-weight: 400;
}
@media screen and (min-width: 1440px) {
  .card__job-info {
    font-size: 1rem;
  }
}
.card__job-info:not(:first-of-type) {
  margin-left: 20px;
}
.card__job-info:not(:first-of-type)::before {
  content: ".";
  position: absolute;
  font-size: 1.5rem;
  bottom: 0;
  left: -14px;
  filter: blur(1px);
}
.card__footer {
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
@media screen and (min-width: 1440px) {
  .card__footer {
    width: 50%;
    align-self: center;
    justify-content: flex-end;
  }
}
.card__filter {
  display: flex;
  margin-top: -90px;
  margin-bottom: 45px;
  padding-top: 20px;
  justify-content: space-between;
}

.filter__clear {
  color: var(--Dark-Grayish-Cyan);
  order: 1;
  align-self: center;
  font-weight: 700;
  font-size: 0.8rem;
  margin-left: 10px;
  cursor: pointer;
}

.filter__tag {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.card:nth-of-type(2)::before,
.card:nth-of-type(3)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: var(--Desaturated-Dark-Cyan);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.disable-new,
.disable-featured {
  display: none;
}

.tag {
  position: relative;
  color: var(--Desaturated-Dark-Cyan);
  font-weight: 700;
  font-size: 0.8rem;
  background-color: var(--Light-Grayish-Cyan-filter);
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
}
.tag--hover:hover {
  animation: animaHover 1s linear 0s 0 normal none running;
}
.tag-remove {
  background-image: url("../assets/images/icon-remove.svg");
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 32px;
  background-color: var(--Desaturated-Dark-Cyan);
}
.tag--padding {
  padding-right: 40px;
}

.disable-filter {
  display: none;
}

@keyframes animaHover {
  0% {
    background-color: var(--Light-Grayish-Cyan-filter);
    color: var(--Desaturated-Dark-Cyan);
  }
  100% {
    background-color: black;
    color: white;
  }
}