:root{

//|Primary

--Desaturated-Dark-Cyan: hsl(180, 29%, 50%);

//Neutral

--Light-Grayish-Cyan-background: hsl(180, 52%, 96%); //Background
--Light-Grayish-Cyan-filter: hsl(180, 31%, 95%); //Filter Tablets
--Dark-Grayish-Cyan: hsl(180, 8%, 52%);
--Very-Dark-Grayish-Cyan: hsl(180, 14%, 20%);

}

$mobile: 375px;
$desktop: 1440px;